body {

}

#formDiv {
	background-color: none;
}

#loadingDiv {
	display: none;
	text-align: center;
}

#resultDiv {
	display: none;
}

#usFlag {
	height: 36px;
	transition: background .25s ease-in-out;
   	-moz-transition: background .25s ease-in-out;
   	-webkit-transition: background .25s ease-in-out;
}
#usFlag:hover {
	opacity: 0.8;
}

.lobbyistColumn {
	font-size: 80%;
}

.noFilingsRow {
	text-align: center;
	font-style: italic;
}

.highlightedMatch {
	font-weight: bold;
	font-size: 125%;
}