body {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #102441;
}

.container{width: 100%;}

h1{color: #880000; font-family: georgia;}
h4{font-family: georgia;}

#noJavascriptDiv {
    cursor:not-allowed;
    border-style: solid;
    background-color: red;
    box-shadow: 10px 10px 5px #888888;
}

#formDiv {

}

.topSpace{padding-top: 15px;}
.topSpacem{margin-top: 10px;}

.center-text{text-align: center;}
.alert-call{color: #31708f!important; font-size: 1.1em;}
.is-alert{margin-top: -16px;}

.js-show-alert, .js-hide-alert{cursor: pointer;}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete-loading {
    background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

#forkMeDiv {
    /*display:none;*/
}

#titleDiv{
    text-align: center;
}

#loadingDiv {
	display: none;
	text-align: center;
}

#resultDiv {
	display: none;
}

#resultTable {
    cursor: default;
}

#usFlag {
	height: 20px;
}
#usFlag:hover {
	opacity: 0.8;
}

.lobbyistColumn {
	font-size: 80%;
}

.noFilingsRow {
	text-align: center;
	font-style: italic;
}

.highlightedMatch {
	font-weight: bold;
	font-size: 125%;
}
.i-bg{
    background-repeat: no-repeat;
    background-position: right 10px center;
}
.i-name{
    background-image: url('../images/name-bg.png');
}
.i-org{
    background-image: url('../images/org-bg.png');
}
.i-biz{
    background-image: url('../images/biz-bg.png');
}

.well{margin-top: 35px; margin-bottom: 0px;}

label{ -webkit-transition: .333s ease margin-top, .333s ease opacity;
    transition: .333s ease margin-top, .333s ease opacity;
    font-size: .9em;
    margin-bottom: 19px;
}
.js-hide-label{
    opacity: 0;
    margin-top: 0;
}

input[type=text]{
   padding: 18px 12px;
   margin: -18px auto auto auto;
}




@media (max-width: 530px) {
  .full-w-btn{
    width: 100%;
    margin-top:10px;
  }
}



